* {
    background-color: #817574;
}
h1 {
    color: #e8e4d9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    color: #10100f;
    font-family: "Lucida Handwriting", cursive;
    background-color: #b8aba3;
}